APP_NAME={{ cookiecutter.project_name }}
APP_HOST=0.0.0.0
APP_PORT={{ cookiecutter.http_port }}
DATABASE_URL=postgres://{{ cookiecutter.postgres_user }}:{{ cookiecutter.postgres_password }}@localhost:5432/{{ cookiecutter.postgres_db }}
